{% extends "base.html" %}
{% block content %}

<div class="container fixed-top " style="max-height: 80vh; overflow-y: auto; margin-left: 20%; margin-top: 4%">

<nav class=" nav nav-pills navbar-expand-lg bg-dark border-bottom border-body" data-bs-theme="dark" style="color: azure;
padding: 10px;">
    <a href="{% url 'hr_app:jobs' %}" class="nav-link" > Open Jobs</a>
    <a href="{% url 'hr_app:candidates' %}" class="nav-link active" aria-current="page"> Candidates</a>  
  </nav>

  <nav class="navbar navbar-expand-lg bg-dark border-bottom border-body" data-bs-theme="dark" style="padding: 10px; color: azure;">
    <h1 style="margin-right: auto;"> Canditates</h1>
        <!-- Button trigger modal -->
    <a class="btn btn-primary" href="{% url 'hr_app:addcandidate' %}" role="button" style="margin-right: 10px;">Add New Candidate</a>
    <a class="btn btn-primary" href="{% url 'hr_app:export_excel_candidate' %}" role="button">Export</a>
  </nav>

  <div class="container" style="color: azure; margin-top: 10px; overflow-y: auto; z-index: 1">
    <div class="row">
        {% for status, candidates in candidates_by_status.items %}
            <div class="col">
                <h5>{{ status }}</h5>
                <hr>
                    {% for candidate in candidates %}
                      <div class="card" style="width: 18rem; margin-bottom: 10px;">
                          <div class="card-body">
                          <h5 class="card-title"> {{candidate.job_title}} </h5>
                          <hr>
                          <p class="card-text"> <b>Name:</b> {{candidate.name}}</p>
                          <p class="card-text"> <b>E-mail:</b> {{candidate.email}}</p>
                          <p class="card-text"> <b>Source:</b> {{candidate.source}}</p>
                          <hr>
                          <a href="{{candidate.CV.url}}" class="btn btn-primary" role="button">CV</a>
                          <a href="{% url 'hr_app:edit_candidate' candidate.id %}" class="btn btn-primary" role="button">Edit</a>
                          <a href="{% url 'hr_app:deletecandidate' candidate.id %}" class="btn btn-danger" role="button">Delete</a>
                          </div>
                      </div>
                    {% endfor %}
            </div>
        {% endfor %}
    </div>
</div>
</div>
  
{% endblock %}
