{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container fixed-top label" style="margin-left: 25%; margin-top: 6%; max-height: 80vh; overflow-y: auto; color: azure;">
<form method="post" enctype="multipart/form-data" action="" id="myForm">
    {% csrf_token %}
    
    <!-- Add Salary -->
    <fieldset>
        <legend><h2>Reuqest Time-Off</h2></legend>
        <hr>
        {{ leave_form.reason.errors }}
        <label for="{{ leave_form.reason.id_for_label }}" style="font-weight: bold;font-size:18px;">Reason:</label>
        <br><br>
        {{ leave_form.reason}}
        <br><br>
        {{ leave_form.start_date.errors }}
        <label for="{{ leave_form.start_date.id_for_label }}">Start Date:</label>
        <br>
        {{ leave_form.start_date }}
        <br><br>
        {{ leave_form.end_date.errors }}
        <label for="{{ leave_form.end_date.id_for_label }}">End Date:</label>
        <br>
        {{ leave_form.end_date }}
        <br><br>
        {{ leave_form.status.errors }}
        <label for="{{ leave_form.status.id_for_label }}">Status:</label>
        <br>
        {{ leave_form.status }}
    </fieldset>
    <br><br>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#confirmationModal">
    Submit
   </button>
   <br><br>
   </form>
</div>

<!-- Modal -->
<div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content bg-dark text-white">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmationModalLabel">Confirm Edit</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to add that timeoff?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary" id="confirmSubmit">Yes</button>
      </div>
    </div>
  </div>
</div>

<script>
  document.getElementById('confirmSubmit').addEventListener('click', function() {
    document.getElementById('myForm').submit(); // Formu gönder
  });
</script>
{% endblock %}