{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container fixed-top label" style="margin-left: 25%; margin-top: 6%; max-height: 80vh; overflow-y: auto; color: azure;">
<form method="post" enctype="multipart/form-data" action="" id="myForm">
    {% csrf_token %}
    
    <!-- Kişisel Bilgiler -->
    <fieldset>
        <legend><h2>Personal Information</h2></legend>
        <hr>
        {{ form.photo.errors }}
        <label for="{{ form.photo.id_for_label }}" style="font-weight: bold;font-size:18px;">Photo:</label>
        <br><br>
        {{ form.photo}}
        <br><br>
        {{ form.name.errors }}
        <label for="{{ form.name.id_for_label }}">Name:</label>
        <br>
        {{ form.name }}
        <br><br>
        {{ form.email.errors }}
        <label for="{{ form.email.id_for_label }}">E-mail:</label>
        <br>
        {{ form.email }}
        <br><br>
        {{ form.phone.errors }}
        <label for="{{ form.phone.id_for_label }}">Phone:</label>
        <br>
        {{ form.phone }}
        <br><br>
        {{ form.address.errors }}
        <label for="{{ form.address.id_for_label }}">Address:</label>
        <br>
        {{ form.address }}
        <br><br>
        {{ form.education.errors }}
        <label for="{{ form.education.id_for_label }}">Education:</label>
        <br>
        {{ form.education }}
        <br><br>
        {{ form.birthdate.errors }}
        <label for="{{ form.birthdate.id_for_label }}">Birth Date:</label>
        <br>
        {{ form.birthdate }}
        <br><br>
    </fieldset>
    <br><br>
    <!-- Şifre Bilgileri -->
    <fieldset>
        <legend> <h2>Password Creation </h2></legend>
        <hr>
        {{ form.password.errors }}
        <label for="{{ form.password.id_for_label }}">Password:</label>
        <br>
        {{ form.password }}
        <br><br>
        {{ form.password_confirm.errors }}
        <label for="{{ form.password_confirm.id_for_label }}">Confirm Password:</label>
        <br>
        {{ form.password_confirm }}
        <br><br>
    </fieldset>
    <br><br>
    <!-- Şirket Bilgileri -->
    <fieldset>
        <legend><h2>Company Info </h2></legend>
        <hr>
        {{ form.position.errors }}
        <label for="{{ form.position.id_for_label }}">Job Title:</label>
        <br>
        {{ form.position }}
        <br><br>
        {{form.contract_type.errors}}
        <label for="{{ form.contract_type.id_for_label }}">Contract Type:</label>
        <br>
        {{ form.contract_type}}
        <br><br>
        {{ form.hire_date.errors}}
        <label for="{{ form.hire_date.id_for_label }}">Hire Date:</label>
        <br>
        {{ form.hire_date}}
        <br><br>
        {{ form.salary.errors}}
        <label for="{{ form.salary.id_for_label }}">Salary:</label>
        <br>
        {{ form.salary}}
        <br><br>
        {{ form.department.errors}}
        <label for="{{ form.department.id_for_label }}">Department:</label>
        <br>
        {{ form.department}}
        <br><br>
        {{ form.absence.errors}}
        <label for="{{ form.absence.id_for_label }}">Absence:</label>
        <br>
        {{ form.absence}}
        <br><br>
    </fieldset>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#confirmationModal">
    Submit
   </button>
   <br><br>

   {% if messages %}
    {% if form.is_vaid %}
      {% for message in messages %}
        <div class="alert alert-primary d-flex align-items-center" role="alert" style="width: 80%; height: 50px;">
          <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" role="img" aria-label="Warning:" style="width: 16px; height:16px">
            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
          </svg>
          <div>
            {{ message }}
          </div>
        </div>
      {% endfor %}
    {% endif %} 
  {% endif %} 
</form>
</div>

<!-- Modal -->
<div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content bg-dark text-white">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmationModalLabel">Confirm Edit</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to add that employee?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary" id="confirmSubmit">Yes</button>
      </div>
    </div>
  </div>
</div>



<script>
  document.getElementById('confirmSubmit').addEventListener('click', function() {
    document.getElementById('myForm').submit(); // Formu gönder
  });
</script>
{% endblock %}