{% extends "base.html" %}
{% block content %}

<div class="container fixed-top " style="max-height: 80vh; overflow-y: auto; margin-left: 20%; margin-top: 4%;width:auto">

  <nav class=" nav nav-pills navbar-expand-lg bg-dark border-bottom border-body" data-bs-theme="dark" style="color: azure;
padding: 10px;">
    <a href="{% url 'hr_app:manageemployee' %}" class="nav-link" aria-current="page"> Manage Employee</a>
    <a href="{% url 'hr_app:timeoffadmin' %}" class="nav-link active"> Request Time Off</a> 
  </nav>
  <nav class="navbar navbar-expand-lg bg-dark border-bottom border-body" data-bs-theme="dark" style="padding: 10px; color: azure;">
    <h1 style="margin-right: auto;"> Request Time-Off</h1>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
      style="margin-right:10px;">
      Filters
    </button>
    <a class="btn btn-primary" href="{% url 'hr_app:export_timeoff_to_excel'%}" role="button">Export</a>
  </nav>

  <div class="container" style="margin-top: 10px; overflow-y: auto;">
    <div class="accordion-dark" id="accordionExample" style="color: azure;">
      {% for employee in employees %}
          <div class="accordion-dark-item">
            <h2 class="accordion-header-dark">
              <button class="btn btn-dark" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{employee.id}}"
                aria-expanded="true" aria-controls="collapse{{employee.id}}" style="font-size: x-large;">
                {{employee.name}}
              </button>
              <a class="btn btn-primary" href="{% url 'hr_app:add_timeoff' employee.id %}" role="button" style="margin: 10px;">Add Time-Off</a>
            </h2>
            <div id="collapse{{employee.id}}" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col"> Reason</th>
                      <th scope="col"> Start Date</th>
                      <th scope="col"> End Date</th>
                      <th scope="col"> Status</th>
                      <th scope="col"> </th>
                    </tr>
                  </thead>
                  <tbody>
                        {% for leave_request in employee.leave_request.all %}
                          <tr>
                              <td> {{leave_request.reason}} </td>
                              <td> {{leave_request.start_date}} </td>
                              <td> {{leave_request.end_date}} </td>
                              <td> {{leave_request.status}} </td>
                              <td> 
                                <a class="btn btn-primary" href="{% url 'hr_app:edit_timeoff' employee_id=employee.id leave_id=leave_request.id%}" role="button">Edit</a>
                                <a class="btn btn-danger" href="{% url 'hr_app:delete_timeoff' leave_request.id %}" role="button">Delete</a>
                              </td>
                          </tr>
                        {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
      {% endfor %}
    </div>
  </div>
</div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Filters</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
            id="filterButton2"></button>
        </div>
        <div class="modal-body">
          <form method="get" action="{% url 'hr_app:timeofffilter' %}">
            <input type="text" placeholder="Employee Name" name="name" value="{{name_filter}}"><br><br>
            <button type="submit" class="btn btn-primary">Apply Filters</button>
            <a class="btn btn-secondary" href="{% url 'hr_app:timeoffadmin' %}" role="button">Clear Filters</a>
          </form>
        </div>
      </div>
    </div>
  </div>

  {% endblock %}